* {
    scrollbar-width: none;
    letter-spacing: 0.05rem;
    color: rgb(250, 250, 250);
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    margin-block: 0;
  }

*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*::-webkit-scrollbar {
    display: none;
  }

html {
    font-size: 70%;
    overflow-x: hidden;
}

body {
    box-sizing: border-box;
    background: black;
    min-height: 300vh;
    color: $colour-primary;
}