@font-face
{
    font-family: 'Dayrom';
    src: url('../font/dayrom.eot');
    src: url('../font/dayrom.eot?#iefix') format('embedded-opentype'),
         url('../font/dayrom.woff') format('woff'),
         url('../font/dayrom.ttf') format('truetype'),
         url('../font/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'Dayrom', sans-serif;
    font-size: 3rem;
    font-style: italic;
}

body {
    font-family: 'Dayrom', sans-serif;
    font-size: 2rem;
    line-height: 1.7;
}